h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

header {
  display:block;
  width: 100%;
}

.ng2map {
  width: 100%;
  height: 100%;
}

#mainTabs {
  height: 75%;
}

#map {
  height: 100%;
  width: 100%;
  overflow:visible;
  position: absolute;
}

#maproute2 {
  height: 100%;
  width: 100%;
  overflow:visible;
}

#routeSelect {
  position: relative;
}

#addBusButton{
 float: right;
 /*background: #0275d8;*/
}
#addDriversButton{
  float: right;
  /*background: #0275d8;*/
}

#addMessageButton{
  float: right;
  /*background: #0275d8;*/
}
#messageDeleteButton{
  float: right;
  /*background: #0275d8;*/
}
#editMessageButton{
  float: right;
  /*background: #0275d8;*/
}
#editDriverButton{
        border-right-width: 10px;
        border-left-width: 10px;
        float:right;
}
#editBusButton{
        border-right-width: 10px;
        border-left-width: 10px;
        float: right;
       
}
#deleteBusButton{
        float:right;
       
}
#deleteDriverButton{
        float:right;
       
}
    
#busAndDriverButton{
      margin: 3% auto;
}
/*#messageInput{
    height:200px;
    font-size:14pt;
}*/

th{
  font:10px;
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}


@media only screen and (max-width: 1345px){
  #container{
    width: auto;
    margin: 0 3%;
  }
}

.headColor {
  color: white;
  background-color: #369;
}