<ng2-map 
class="ng2Map" 
id="overviewmap" 
center="Mayagüez, Puerto Rico" 
mapTypeId="terrain" 
scrollwheel="true">
<polyline 
[editable]="false"
[path]="pathA.path"
[geodesic]="true"
[strokeColor]="'#0000ff'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathB.path"
[geodesic]="true"
[strokeColor]="'#00cc00'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathC.path"
[geodesic]="true"
[strokeColor]="'#e6e600'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathD.path"
[geodesic]="true"
[strokeColor]="'#e600e6'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathE.path"
[geodesic]="true"
[strokeColor]="'#cc6600'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathF.path"
[geodesic]="true"
[strokeColor]="'#999966'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathG.path"
[geodesic]="true"
[strokeColor]="'#003300'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathH.path"
[geodesic]="true"
[strokeColor]="'#993333'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
<polyline 
[editable]="false"
[path]="pathI.path"
[geodesic]="true"
[strokeColor]="'#4d004d'"
[strokeOpacity]="1"
[strokeWeight]="2"></polyline>
</ng2-map>