<div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
      <br>
        <div id = "busAndDriversButton" class="row">
				<div class="col-md-6">
           <h3>Bus <button (click)="addBus()"  id = "addBusButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddBusModal"> Add</button> </h3>        
				</div>
				<div class="col-md-6">
           <h3>Drivers <button (click)="addDriver()" id = "addDriversButton" type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddDriversModal"> Add</button></h3>
				</div>
			</div>
      <br>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-hover">
						<thead>
							<tr id = "busTable">
								<th>Bus</th>
								<th>Drivers</th>
                <th>Route</th>
								<th>Status</th>
							</tr>
					  </thead>
						<tbody>
							<tr *ngFor="let bus of buses">
                <td>{{bus.name}}</td>
                <td>{{bus.drivers}}</td>
                <td>{{bus.route}}</td>
                <td>{{bus.status}}</td>
              </tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<table class="table table-hover">
            <thead>
              <tr id = "busTable">
                <th>Name</th>
                <th>Last Name</th>
                <th>Route</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let driver of drivers">
              <td>{{driver.name}}</td>
              <td>{{driver.lastName}}</td>
              <td>{{driver.route}}</td>
              <td>{{driver.status}}</td>
            </tr>
            </tbody>
          </table>
				</div>
			</div>
		</div>
	</div>
</div>


			 <!--AddBusModal--> 
<!--<div class="modal fade" id="AddBusModal" tabindex="-1" role="dialog" aria-labelledby="Bus" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
			<form #busForm="ngForm"   (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Bus name">Bus name</label>

        <input type="text"  class="form-control"
               required minlength="4" maxlength="24"
               name="name" [(ngModel)]="bus.name"
               #name="ngModel" >

        <div *ngIf="name.errors && (name.dirty || name.touched)"
             class="alert alert-danger">
            <div [hidden]="!bus.errors.required">
              Bus name is urequired
            </div>
            <div [hidden]="!bus.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div [hidden]="!bus.errors.maxlength">
              Name cannot be more than 24 characters long.
            </div>
        </div>
      </div>

 

      <div class="form-group">
        <label for="drivers">Drivers</label>
        <select  class="form-control"
                name="drivers"
                [(ngModel)]="bus.drivers" required
                #drivers="ngModel" >
          <option *ngFor="let drivers of driverss" [value]="drivers.name">{{drivers.name}} {{drivers.lastName}}</option>
        </select>

        <div *ngIf="drivers.errors && drivers.touched" class="alert alert-danger">
          <div [hidden]="!drivers.errors.required">Drivers is required</div>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
          </form>
    </div>
  </div>
</div>-->

		<!--AddDriversModal -->
<div class="modal fade" id="AddBusModal" tabindex="-1" role="dialog" aria-labelledby="Bus" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddBusLabel">Add Bus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       	<form #busForm="ngForm"   (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Bus name">Bus name</label>

        <input type="text"  class="form-control" required minlength="4" maxlength="24"
               name="name" [(ngModel)]="bus.name"
               #name="ngModel" >

        <div *ngIf="name.errors && (name.dirty || name.touched)"
             class="alert alert-danger">
            <div [hidden]="!bus.errors.required">
              Bus name is urequired
            </div>
            <div [hidden]="!bus.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div [hidden]="!bus.errors.maxlength">
              Name cannot be more than 24 characters long.
            </div>
        </div>
      </div>

 

      <div class="form-group">
        <label for="drivers">Drivers</label>
        <select  class="form-control"
                name="drivers"
                [(ngModel)]="bus.drivers" required
                #drivers="ngModel" >
          <option *ngFor="let drivers of driverss" [value]="drivers.name">{{drivers.name}} {{drivers.lastName}}</option>
        </select>

        <div *ngIf="drivers.errors && drivers.touched" class="alert alert-danger">
          <div [hidden]="!drivers.errors.required">Drivers is required</div>
        </div>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
          </form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>





		<!--AddDriversModal -->
<div class="modal fade" id="AddDriversModal" tabindex="-1" role="dialog" aria-labelledby="Drivers" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AddDriversLabel">Add Drivers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #busForm="ngForm"   (ngSubmit)="onSubmit()">
				<div class="form-group" >
					 
					<label for="Name">
						Name
					</label>
					  <input type="text"  class="form-control"
               required minlength="4" maxlength="24"
                 name="name" [(ngModel)]="drivers.name"
                   #name="ngModel" >

        <div *ngIf="name.errors && (name.dirty || name.touched)"
               class="alert alert-danger">
            <div [hidden]="!name.errors.required">
              Name is urequired
            </div>
            <div [hidden]="!name.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div [hidden]="!name.errors.maxlength">
              Name cannot be more than 24 characters long.
            </div>
        </div>


					 
					<label for="lastName">
						Last Name
					</label>
					        <input type="text"  class="form-control"
               required minlength="4" maxlength="24"
               name="lastName" [(ngModel)]="drivers.lastName"
               #lastName="ngModel" >

        <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
             class="alert alert-danger">
            <div [hidden]="!lastName.errors.required">
              Last name is urequired
            </div>
            <div [hidden]="!lastName.errors.minlength">
              Name must be at least 4 characters long.
            </div>
            <div [hidden]="!lastName.errors.maxlength">
              Name cannot be more than 24 characters long.
            </div>
        </div>
                <div class="form-group">
                     <label for="">Password</label>
                         <input type="password" class="form-control" name="password" [ngModel]="drivers.password" 
                            required validateEqual="confirmPassword" reverse="true" #password="ngModel">
                  <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                    Password is required
                  </small>
             </div>
            <div class="form-group">
                  <label for="">Retype password</label>
                      <input type="password" class="form-control" name="confirmPassword" [ngModel]="drivers.confirmPassword" 
                          required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                  <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                  Password mismatch
                  </small>
            </div>

			</div>				
		</form>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>













