<!--TropiBus logo and title -->
<nav class="navbar navbar-toggleable-md navbar-light headColor">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="Tropibus Logo" href="#"><img alt="TropiBus Logo" src="../../assets/graphics/tropibuslogo.png" width="70px"/></a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <h1>TropiBus Administrator</h1>
  </div>
  <button (click)="logout()" type="button" class="btn btn-info">Logout</button>
</nav>